.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    max-width: 1080px;
    max-height: fit-content;
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    gap: 5px;
}

#backend {
    background: linear-gradient(90deg, rgba(53, 59, 72, 1) 0%, rgba(113, 128, 147, 1) 60%, rgba(127, 143, 166, 1) 100%);
}

#frontend {
    background: linear-gradient(90deg, rgba(25, 42, 86, 1) 0%, rgba(0, 151, 230, 1) 60%, rgba(0, 168, 255, 1) 100%);
}