.container {
    margin-top: 20px;
}

.readMore {
    background: linear-gradient(90deg, rgba(225, 177, 44, 1) 0%, rgba(251, 197, 49, 1) 100%, rgba(127, 143, 166, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    margin: 0 auto;
    width: 90%;
    border: 0;
    border-radius: 1.5rem;
    z-index: 4;
}
